<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    beStrictAboutTestsThatDoNotTestAnything="true"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnPhpunitDeprecations="true"
    colors="true"
    failOnAllIssues="true"
    testdox="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="false" restrictNotices="false" restrictWarnings="false">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Bootstrapper.php</file>
            <directory>src/templates</directory>
            <directory>src/config</directory>
            <directory>src/DI</directory>
            <directory>src/UserInterface/HTMLElements</directory>
            <directory>src/UserInterface/Components</directory>
        </exclude>
    </source>
</phpunit>
